.book{
    background-color:rgb(0, 255, 242);
    display: flex;
    padding:6rem ;
    box-shadow: 1rem 1.2rem 2.4rem rgba(0, 0, 0, 0.45);
     border-radius: 0.8rem;
    overflow: hidden;
    transition: all 0.3s;
}
.img-book{
    margin-left: 2cm;
    width: 500px;
    height: 500px;

}
.book-content{
    padding: 1.2rem 3rem;
}
.nav{
    padding: 1.8rem;
    justify-content: space-between;
     background-color: green; 
    display: flex;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.492);
    position: sticky;
    top: 0px;
    z-index: 999;
    width: 100%;
}
 .our-title{
        text-align: center;
        font-size: 4.2rem;
        color: transparent;
        text-transform: uppercase;
        top: 0px;
        z-index: 999;
        width: 100%;
        background-position: top center;
        background-color: line
    -webkit-background-clip: text;

}
.about-tex{
    font-size: 2rem;
}
.first-parag{
    color: black;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    padding: 1.5rem 1rem 0;
}
.our-text{
   font-size: 1.4rem;
    padding: 1.5rem 1rem 0;
    color: #555;padding: auto;
}
.scheduled-title{
    font-size: 1.6rem;
    color:black;
}
.book-btn{
    display: inline-block;
    margin: 0 1rem 2rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: center;
}

